.aboutus{
background-color: aliceblue;
height: 250px;
border-bottom-left-radius: 200px;
border-bottom-right-radius:200px; 
}


.AboutUsImg{
  height: 500px;
  margin-left: 90px;
  margin-top: -100px;
}

.aboutusgrid{
display: grid;
grid-template-columns: repeat(2,1fr);
}

.aboutustext{
  font-size: 40px;
  color: #729B79;
margin-left: 130px;
margin-top: 60px;
}

.textDec{
  text-align: center;
  margin-left: 130px;
  margin-top: 100px;
  margin-bottom: 300px;
  font-size: 25px;
  color: #729B79; 
  background-color: rgb(252, 252, 249);
}

.spoonylogo{
  width: 130px;
  align-items: baseline;
  margin-top: 30px;
  margin-left: -20px;
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.hptext{
font-size: 25px;
text-align: center;
}

.HPDesign
{
  margin-top: -480px;
  background-color: #fff1da;
  position: absolute;
  width: 632px;
  height: 600px;
  z-index: -1;
  clip-path: circle(95.7% at 100% 3%);
}

.HPDesign2
{
  margin-top: 200px;
  margin-right: 1300px;
  background-color: #fff1da;
  position: absolute;
  width: 632px;
  height: 600px;
  z-index: -1;
  clip-path: circle(64.3% at 0% 91%);


}

.design{
  margin-top: -480px;
  margin-left: 700px;
  background-color: #fff1da;
  position: absolute;
  width: 632px;
  height: 900px;
  z-index: -1;
  clip-path: circle(80% at 100% 32%);
}

.Search{
  margin-top: 20px;
  margin-left: 80px;

}
